# Ignore node_modules in the root directory
/node_modules
/countdown-frontend/node_modules
/countdown-backend/node_modules

# Ignore build folders for both front-end and back-end
/countdown-frontend/build
/countdown-backend/build

# Ignore .env files
.env
/countdown-frontend/.env